<%- include('../layouts/adminLayout/header.ejs')%>

<link href="https://unpkg.com/cropperjs/dist/cropper.css" rel="stylesheet"/>
<script src="https://unpkg.com/cropperjs"></script>

<style>
    .modal-content {
        margin: 10% auto;
        padding: 20px;
        width: 80%;
        max-width: 600px;
        background-color: #363636;
    }
.cropper-container {
        width: 100%;
        max-height: 400px;
        margin-bottom:10px;
    }

</style>

<script>
    let cropper;
    let currentInput;
    let croppedFiles = new Map(); // To store the cropped files

    function previewImage(event) {
        const input = event.target;
        const file = input.files[0];
        currentInput = input; // Save the reference to the current input
        if (file) {
            const reader = new FileReader();
            reader.onload = function(e) {
                const cropperImage = document.getElementById('cropperImage');
                cropperImage.src = e.target.result;
                document.getElementById('cropperModal').style.display = 'block';
                if (cropper) {
                    cropper.destroy();
                }
                cropper = new Cropper(cropperImage, {
                    aspectRatio: 1200 / 1485, // Portrait aspect ratio
                    viewMode: 1,
                });
            };
            reader.readAsDataURL(file);
        }
    }

    function cropImage() {
        if (cropper) {
            cropper.getCroppedCanvas({
                width: 300, // desired width
                height: 400, // desired height
            }).toBlob(function(blob) {
                const croppedImageSrc = URL.createObjectURL(blob);
                const imagePreview = currentInput.previousElementSibling;
                if (imagePreview && imagePreview.tagName === 'IMG') {
                    imagePreview.src = croppedImageSrc;
                }
                // Replace the file input with the cropped image blob
                const dataTransfer = new DataTransfer();
                const file = new File([blob], `croppedImage${Date.now()}.jpg`, { type: "image/jpeg" });
                dataTransfer.items.add(file);
                currentInput.files = dataTransfer.files;
                // Store the cropped file in the Map
                croppedFiles.set(currentInput.name, file);
                closeModal();
            }, 'image/jpeg', 1);
        }
    }

    function closeModal() {
        document.getElementById('cropperModal').style.display = 'none';
        if (cropper) {
            cropper.destroy();
            cropper = null;
        }
    }
</script>

<div class="container-xxl position-relative bg-white d-flex p-0">
    <!-- Spinner Start -->
    <div id="spinner" class="show bg-white position-fixed translate-middle w-100 vh-100 top-50 start-50 d-flex align-items-center justify-content-center">
        <div class="spinner-border text-primary" style="width: 3rem; height: 3rem;" role="status">
            <span class="sr-only">Loading...</span>
        </div>
    </div>
    <!-- Spinner End -->

    <!-- Sidebar Start -->
    <div class="sidebar pe-4 pb-3">
        <nav class="navbar bg-light navbar-light">
            <a href="index.html" class="navbar-brand mx-4 mb-3">
                <h3 class="text-primary"><i class="fa fa-hashtag me-2"></i>DASHMIN</h3>
            </a>
            <div class="d-flex align-items-center ms-4 mb-4">
                <div class="position-relative">
                    <img class="rounded-circle" src="/admin/img/user.jpg" alt="" style="width: 40px; height: 40px;">
                    <div class="bg-success rounded-circle border border-2 border-white position-absolute end-0 bottom-0 p-1"></div>
                </div>
                <div class="ms-3">
                    <h6 class="mb-0">Khaiz</h6>
                    <span>Admin</span>
                </div>
            </div>
            <div class="navbar-nav w-100">
                <div class="navbar-nav w-100">
                    <a href="/admin/index.html" class="nav-item nav-link"><i class="fa fa-tachometer-alt me-2"></i>Dashboard</a>
                    <a href="/admin/userManagement" class="nav-item nav-link" ><i class="fa fa-user me-2"></i>Manage User</a>
                    <a href="/admin/category" class="nav-item nav-link "><i class="fa fa-th me-2"></i>Manage Category</a>
                    <a href="/admin/product" class="nav-item nav-link active"><i class="fa fa-keyboard me-2"></i>Manage Products</a>
                    <a href="/admin/orderManagement" class="nav-item nav-link "><i class="fa fa-table me-2"></i>Manage Orders</a>
                    <a href="/admin/couponManagement" class="nav-item nav-link "><i class="fa-solid fa-ticket"></i>Manage Coupon</a>
                    <a href="/admin/offerManagement" class="nav-link "><i class="fa-solid fa-certificate"></i>Manage Offer</a>
                </div>
            </div>
        </nav>
    </div>
    <!-- Sidebar End -->

    <!-- Content Start -->
    <div class="content">
        <!-- Navbar Start -->
        <nav class="navbar navbar-expand bg-light navbar-light sticky-top px-4 py-0">
            <a href="index.html" class="navbar-brand d-flex d-lg-none me-4">
                <h2 class="text-primary mb-0"><i class="fa fa-hashtag"></i></h2>
            </a>
            <a href="#" class="sidebar-toggler flex-shrink-0">
                <i class="fa fa-bars"></i>
            </a>
            <form class="d-none d-md-flex ms-4">
                <input class="form-control border-0" type="search" placeholder="Search">
            </form>
            <div class="navbar-nav align-items-center ms-auto">
        
                <div class="nav-item dropdown">
                    <a href="#" class="nav-link dropdown-toggle" data-bs-toggle="dropdown">
                        <img class="rounded-circle me-lg-2" src="/admin/img/user.jpg" alt="" style="width: 40px; height: 40px;">
                        <span class="d-none d-lg-inline-flex">Khaiz</span>
                    </a>
                    <div class="dropdown-menu dropdown-menu-end bg-light border-0 rounded-0 rounded-bottom m-0">
                        <a href="#" class="dropdown-item">My Profile</a>
                        <a href="#" class="dropdown-item">Settings</a>
                        <a href="/admin/logout" class="dropdown-item">Log Out</a>
                    </div>
                </div>
            </div>
        </nav>
        <!-- Navbar End -->

        <!-- Edit Product Form Start -->
        <div id="editProductForm" class="col-12">
            <div class="bg-light rounded p-4">
                <h2 class="mb-4 text-center">Edit Product</h2>
                <% if (typeof message !== 'undefined') { %>
                <div class="alert alert-danger" role="alert">
                    <%= message %>
                </div>
                <% } %>

                <form enctype="multipart/form-data" id="product-form" method="POST" action="/admin/update-product">
                    <!-- Product Name and Brand Name -->
                    <div class="row mb-3">
                        <!-- Product Name -->
                        <div class="col-md-6">
                            <label for="productName" class="form-label">Product Name</label>
                            <input type="text" class="form-control" id="productName" name="productName" value="<%= product.productName %>" >
                        </div>
                        <!-- Brand Name -->
                        <div class="col-md-6">
                            <label for="brandName" class="form-label">Brand Name</label>
                            <input type="text" class="form-control" id="brandName" name="brandName" value="<%= product.brand %>" >
                        </div>
                    </div>
                
                    <!-- Size and Category -->
                    <div class="row mb-3">
                        <!-- Size -->
                        <div class="col-md-6">
                            <label for="size" class="form-label">Size</label>
                            <input type="text" class="form-control" id="size" name="size" value="<%= product.size %>" >
                        </div>
                        <!-- Category -->
                        <div class="col-md-6">
                            <label for="category" class="form-label">Category</label>
                            <!-- <select class="form-select" id="category" name="category" >
                                <% if (typeof category !== 'undefined') { %>
                                    <option value="<%= product._id %>"> <%= product.category.name %> </option>
                                    <% category.forEach(category => { %>
                                        <option value="<%= category._id %>"> <%= category.name %> </option>
                                    <% }); %>
                                <% } %>
                            </select> -->
                            <input type="text" class="form-control" value="<%= product.category.name %>" readonly >
                        </div>
                    </div>
                
                    <!-- In Stock, Original Price, and Discount Price -->
                    <div class="row mb-3">
                        <!-- In Stock -->
                        <div class="col-md-4">
                            <label for="inStock" class="form-label">In Stock</label>
                            <input type="number" class="form-control" id="inStock" name="inStock" value="<%= product.inStock %>" >
                        </div>
                        <!-- Original Price -->
                        <div class="col-md-4">
                            <label for="originalPrice" class="form-label">Original Price</label>
                            <input type="number" class="form-control" id="originalPrice" name="originalPrice" value="<%= product.price %>" >
                        </div>
                        <!-- Discount Price -->
                        <div class="col-md-4">
                            <label for="discountPrice" class="form-label">Discount Price</label>
                            <input type="number" class="form-control" id="discountPrice" name="discountPrice" value="<%= product.discountPrice %>" onkeyup="calculateDiscount()">
                        </div>
                    </div>
                
                    <!-- Discount, Description, and Color -->
                    <div class="row mb-3">
                        <!-- Color -->
                        <div class="col-md-4">
                            <label for="color" class="form-label">Color</label>
                            <input type="text" class="form-control" id="color" name="color" value="<%= product.color %>" >
                        </div>
                
                        <!-- Discount -->
                        <div class="col-md-4">
                            <label for="discount" class="form-label">Discount(%)</label>
                            <input type="number" class="form-control" id="discount" name="discount" value="<%= product.discount %>" readonly>
                        </div>
                
                        <!-- Description -->
                        <div class="col-md-4">
                            <label for="description" class="form-label">Description</label>
                            <textarea class="form-control" id="description" name="description" rows="3" required><%= product.description %></textarea>
                        </div>
                    </div>
                
                    <!-- Image Upload -->
                    <div class="row mb-3">
                        <div class="col-md-4">
                            <label for="image1" class="form-label">Image 1</label>
                            <img  class="image-preview" src="<%= product.image[0] %>" style="max-width: 100%; margin-top: 10px;" alt="product image" />
                            <input class="form-control" type="file" id="image1" name="image1" onchange="previewImage(event)" >
                        </div>
                        <div class="col-md-4">
                            <label for="image2" class="form-label">Image 2</label>
                            <img  class="image-preview" src="<%= product.image[1] %>" style="max-width: 100%; margin-top: 10px;" alt="product image" />
                            <input class="form-control" type="file" id="image2" name="image2"  onchange="previewImage(event)">
                        </div>
                        <div class="col-md-4">
                            <label for="image3" class="form-label">Image 3</label>
                            <img  class="image-preview" src="<%= product.image[2] %>" style="max-width: 100%; margin-top: 10px;" alt="product image" />
                            <input class="form-control" type="file" id="image3" name="image3" onchange="previewImage(event)">
                        </div>
                    </div>
                
                    <!-- Submit and Cancel Buttons -->
                    <div class="row mb-3">
                        <div class="col-md-12 text-center ">
                            <button type="submit" id="update-btn" class="btn btn-primary btn-lg">Update Product</button>
                        </div>
                
                        <div class="col-md-12 text-center mt-3">
                            <a href="/admin/product" class="btn btn-secondary btn-lg">Cancel</a>
                        </div>
                    </div>
                </form>
            </div>
        </div>
        <!-- Edit Product Form End -->

        <!-- Footer Start -->
        <div class="container-fluid pt-4 px-4">
            <div class="bg-light rounded-top p-4">
                <!-- Footer Content -->
            </div>
        </div>
        <!-- Footer End -->
    </div>
    <!-- Content End -->

    <!-- Back to Top -->
    <a href="#" class="btn btn-lg btn-primary btn-lg-square back-to-top"><i class="bi bi-arrow-up"></i></a>
</div>

<!-- JavaScript Libraries -->
<script src="https://code.jquery.com/jquery-3.4.1.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0/dist/js/bootstrap.bundle.min.js"></script>
<script src="/admin/lib/chart/chart.min.js"></script>
<script src="/admin/lib/easing/easing.min.js"></script>
<script src="/admin/lib/waypoints/waypoints.min.js"></script>
<script src="/admin/lib/owlcarousel/owl.carousel.min.js"></script>
<script src="/admin/lib/tempusdominus/js/moment.min.js"></script>
<script src="/admin/lib/tempusdominus/js/moment-timezone.min.js"></script>
<script src="/admin/lib/tempusdominus/js/tempusdominus-bootstrap-4.min.js"></script>

<!-- Template Javascript -->
<script src="/admin/js/main.js"></script>

<script>
    function calculateDiscount() {
    var originalPriceInput = parseFloat(document.getElementById('originalPrice').value);
    var discountPriceInput = parseFloat(document.getElementById('discountPrice').value);
    
    if (!isNaN(originalPriceInput) && !isNaN(discountPriceInput) && originalPriceInput !== 0) {
        var discountPercentage = ((originalPriceInput - discountPriceInput) / originalPriceInput) * 100;
        document.getElementById('discount').value = discountPercentage.toFixed(2); // Round to 2 decimal places
    } else {
        // Handle cases where inputs are invalid or original price is zero
        document.getElementById('discount').value = ''; // Clear the discount field or show an error
    }
}
    // function calculateDiscount() {
    //     var OriginalPriceInput = document.getElementById('originalPrice').value;
    //     var discountPriceInput = document.getElementById('discountPrice').value;
        
    //     var discountPrice = parseFloat(discountPriceInput);
    //     var OriginalPrice = parseFloat(OriginalPriceInput);
        
    //     if (!isNaN(discountPrice) && !isNaN(OriginalPrice)) {
    //         var discountPercentage = (discountPrice / OriginalPrice) * 100;
    //         console.log(discountPercentage);
    //         document.getElementById('discount').value = parseInt(discountPercentage);
    //     }
    // }

    // function previewImage(input, previewId) {
    //     const file = input.files[0];
    //     const preview = document.getElementById(previewId);
        
    //     const reader = new FileReader();
    //     reader.onload = function(e) {
    //         preview.src = e.target.result;
    //     };
        
    //     if (file) {
    //         reader.readAsDataURL(file);
    //     } else {
    //         preview.src = '';
    //     }
    // }

    document.getElementById('product-form').addEventListener('submit', async (event) => {
        event.preventDefault();

        const formData = new FormData(event.target);
        const productId = '<%= product._id %>';
        const updateUrl = `/admin/update-product/${productId}`;

        try {
            const response = await fetch(updateUrl, {
                method: 'POST',
                body: formData
            });

            if (response.ok) {
                window.location.href = "/admin/product"; // Redirect on success
            } else {
                console.error('Failed to update product:', response.status);
                // Handle error scenario, e.g., show error message to user
            }
        } catch (error) {
            console.error('Error while updating product:', error);
            // Handle error scenario, e.g., show error message to user
        }
    });
</script>

<%- include('../layouts/adminLayout/footer.ejs')%>

<!-- Modal for cropping -->
<div id="cropperModal" class="modal">
    <div class="modal-content">
        <div class="cropper-container">
            <img id="cropperImage" src="" alt="Image for cropping" />
        </div>
        <button onclick="cropImage()">Crop</button>
        <button onclick="closeModal()">Cancel</button>
    </div>
</div>