<%- include('../layouts/userLayout/headerHome.ejs')%>

<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css">
		

	<!-- Slider -->
	<section class="section-slide">
		<div class="wrap-slick1">
			<div class="slick1">
				<div class="item-slick1" style="background-image: url(images/slide-01.jpg);">
					<div class="container h-full">
						<div class="flex-col-l-m h-full p-t-100 p-b-30 respon5">
							<div class="layer-slick1 animated visible-false" data-appear="fadeInDown" data-delay="0">
								<span class="ltext-101 cl2 respon2">
									Women Collection 2024
								</span>
							</div>
								
							<div class="layer-slick1 animated visible-false" data-appear="fadeInUp" data-delay="800">
								<h2 class="ltext-201 cl2 p-t-19 p-b-43 respon1">
									NEW SEASON
								</h2>
							</div>
								
							<div class="layer-slick1 animated visible-false" data-appear="zoomIn" data-delay="1600">
								<a href="product.html" class="flex-c-m stext-101 cl0 size-101 bg1 bor1 hov-btn1 p-lr-15 trans-04">
									Shop Now
								</a>
							</div>
						</div>
					</div>
				</div>

				<div class="item-slick1" style="background-image: url(images/slide-02.jpg);">
					<div class="container h-full">
						<div class="flex-col-l-m h-full p-t-100 p-b-30 respon5">
							<div class="layer-slick1 animated visible-false" data-appear="rollIn" data-delay="0">
								<span class="ltext-101 cl2 respon2">
									Men New-Season
								</span>
							</div>
								
							<div class="layer-slick1 animated visible-false" data-appear="lightSpeedIn" data-delay="800">
								<h2 class="ltext-201 cl2 p-t-19 p-b-43 respon1">
									Jackets & Coats
								</h2>
							</div>
								
							<div class="layer-slick1 animated visible-false" data-appear="slideInUp" data-delay="1600">
								<a href="product.html" class="flex-c-m stext-101 cl0 size-101 bg1 bor1 hov-btn1 p-lr-15 trans-04">
									Shop Now
								</a>
							</div>
						</div>
					</div>
				</div>

				<div class="item-slick1" style="background-image: url(images/slide-03.jpg);">
					<div class="container h-full">
						<div class="flex-col-l-m h-full p-t-100 p-b-30 respon5">
							<div class="layer-slick1 animated visible-false" data-appear="rotateInDownLeft" data-delay="0">
								<span class="ltext-101 cl2 respon2">
									Men Collection 2024
								</span>
							</div>
								
							<div class="layer-slick1 animated visible-false" data-appear="rotateInUpRight" data-delay="800">
								<h2 class="ltext-201 cl2 p-t-19 p-b-43 respon1">
									New arrivals
								</h2>
							</div>
								
							<div class="layer-slick1 animated visible-false" data-appear="rotateIn" data-delay="1600">
								<a href="product.html" class="flex-c-m stext-101 cl0 size-101 bg1 bor1 hov-btn1 p-lr-15 trans-04">
									Shop Now
								</a>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</section>


<!-- Banner -->
<div class="sec-banner bg0 p-t-80 p-b-50">
    <div class="container">
        <div class="row">
            <% categories.forEach(category => { %>
            <div class="col-md-6 col-xl-4 p-b-30 m-lr-auto">
                <!-- Block1 -->
                <div class="block1 wrap-pic-w">
                    <img src="<%= category.image %>" alt="IMG-BANNER">

                    <a href="#" class="block1-txt ab-t-l s-full flex-col-l-sb p-lr-38 p-tb-34 trans-03 respon3" data-category="<%= category._id %>">
                        <div class="block1-txt-child1 flex-col-l">
                            <span class="block1-name ltext-102 trans-04 p-b-8">
                                <%= category.name %>
                            </span>

                            <span class="block1-info stext-102 trans-04">
                                <%= category.description %>
                            </span>
                        </div>

                        <div class="block1-txt-child2 p-b-4 trans-05">
                            <div class="block1-link stext-101 cl0 trans-09">
                                Shop Now
                            </div>
                        </div>
                    </a>
                </div>
            </div>
            <% }) %>
        </div>
    </div>
</div>



	<!-- Product -->
	<section class="bg0 p-t-23 p-b-140">
		<div class="container">
			<div class="p-b-10">
				<h3 class="ltext-103 cl5">
					Product Overview
				</h3>
			</div>

			<div class="flex-w flex-sb-m p-b-52">
				<div class="flex-w flex-l-m filter-tope-group m-tb-10">
					<button class="stext-106 cl6 hov1 bor3 trans-04 m-r-32 m-tb-5 how-active1" data-filter="*">
						All Products
					</button>
				
					<% categories.forEach(category => { %>
						<button class="stext-106 cl6 hov1 bor3 trans-04 m-r-32 m-tb-5" data-filter=".<%= category.name.toLowerCase() %>">
							<%= category.name %>
						</button>
					<% }); %>
				</div>

				<div class="flex-w flex-c-m m-tb-10">
					<div class="flex-c-m stext-106 cl6 size-104 bor4 pointer hov-btn3 trans-04 m-r-8 m-tb-4 js-show-filter">
						<i class="icon-filter cl2 m-r-6 fs-15 trans-04 zmdi zmdi-filter-list"></i>
						<i class="icon-close-filter cl2 m-r-6 fs-15 trans-04 zmdi zmdi-close dis-none"></i>
						 Filter
					</div>

					<div class="flex-c-m stext-106 cl6 size-105 bor4 pointer hov-btn3 trans-04 m-tb-4 js-show-search">
						<i class="icon-search cl2 m-r-6 fs-15 trans-04 zmdi zmdi-search"></i>
						<i class="icon-close-search cl2 m-r-6 fs-15 trans-04 zmdi zmdi-close dis-none"></i>
						Search
					</div>
				</div>
				
				<!-- Search product -->
				<div class="dis-none panel-search w-full p-t-10 p-b-15">
					<form action="/search" method="GET" class="bor8 dis-flex p-l-15">
						<button class="size-113 flex-c-m fs-16 cl2 hov-cl1 trans-04" type="submit">
							<i class="zmdi zmdi-search"></i>
						</button>
						<input class="mtext-107 cl2 size-114 plh2 p-r-15" type="text" name="query" placeholder="Search">
					</form>
				</div>

				 <!-- Filter -->
				 <div class="dis-none panel-filter w-full p-t-10">
					<div class="wrap-filter flex-w bg6 w-full p-lr-40 p-t-27 p-lr-15-sm">
						<div class="filter-col1 p-r-15 p-b-27">
							<div class="mtext-102 cl2 p-b-15">
								Sort By
							</div>
							<ul>
								<li class="p-b-6">
									<a href="?sort=default" class="filter-link stext-106 trans-04">
										Default
									</a>
								</li>
								<li class="p-b-6">
									<a href="?sort=newness" class="filter-link stext-106 trans-04">
										Newness
									</a>
								</li>
								<li class="p-b-6">
									<a href="?sort=price-asc" class="filter-link stext-106 trans-04">
										Price: Low to High
									</a>
								</li>
								<li class="p-b-6">
									<a href="?sort=price-desc" class="filter-link stext-106 trans-04">
										Price: High to Low
									</a>
								</li>
							</ul>
						</div>
						<div class="filter-col3 p-r-15 p-b-27">
							<div class="mtext-102 cl2 p-b-15">
								Color
							</div>
							<ul>
								<% colors.forEach(color => { %>
								<li class="p-b-6">
									<span class="fs-15 lh-12 m-r-6" style="color: <%= color %>;">
										<i class="zmdi zmdi-circle"></i>
									</span>
									<a href="?color=<%= color %>" class="filter-link stext-106 trans-04">
										<%= color %>
									</a>
								</li>
								<% }); %>
							</ul>
						</div>
						<div class="filter-col4 p-b-27">
							<div class="mtext-102 cl2 p-b-15">
								Brand
							</div>
							<div class="flex-w p-t-4 m-r--5">
								<% brands.forEach(brand => { %>
									<a href="?brand=<%= brand %>" class="flex-c-m stext-107 cl6 size-301 bor7 p-lr-15 hov-tag1 trans-04 m-r-5 m-b-5 filter-link">
										<%= brand %>
									</a>
								<% }); %>
							</div>
						</div>
					</div>
				</div>
			</div>
			<!-- product start -->
			<div class="row isotope-grid">
				<% products.forEach(product => { 
					const categoryName = product.category && product.category.name ? product.category.name.toLowerCase() : 'unknown';
				%>
					<div class="col-sm-6 col-md-4 col-lg-3 p-b-35 isotope-item <%= categoryName  %>">
						<div class="block2">
							<div class="block2-pic hov-img0">
								<a href="/product-detail.html/<%= product._id %>"><img src="<%= product.image[0] %>" alt="Product Image"></a>
								<a href="#" class="block2-btn flex-c-m stext-103 cl2 size-102 bg0 bor2 hov-btn1 p-lr-15 trans-04 js-show-modal1">
									Quick View
								</a>
							</div>
							<div class="block2-txt flex-w flex-t p-t-14">
				<div class="block2-txt-child1 flex-col-l">
					<a href="/product-detail.html/<%= product._id %>" class="stext-104 cl4 hov-cl1 trans-04 js-name-b2 p-b-6">
						<%= product.productName %>
					</a> 
					<span class="stext-105 cl3">
						<% if (product.inStock < 1) { %>
							<span class="out-of-stock text-danger">Out of Stock</span>
						<% } else if (product.specialOffer) { %>
						<span class="original-price" style="text-decoration: line-through; color: #888;">₹<%= product.price %></span>
							₹<%= product.discountPrice %>
							<p class="text-success">
								<i class="fa-solid fa-tag" style="color: #308a00;"></i> Special Offer Available
							</p>
						<% } else { %>
							₹<%= product.price %>
						<% } %>
					</span>
				</div>
				<!-- Add to wishlist or other actions -->
				<div class="block2-txt-child2 flex-r p-t-3">
						<a href="#" class="btn-addwish-b2 dis-block pos-relative js-addwish-b2" onclick="addToWishlist('<%= product._id %>')">
							<img class="icon-heart1 dis-block trans-04" src="images/icons/icon-heart-01.png" alt="ICON">
							<img class="icon-heart2 dis-block trans-04 ab-t-l" src="images/icons/icon-heart-02.png" alt="ICON">
						</a>
				</div>
			</div>
            </div>
        </div>
    <% }); %>
</div>

  <!-- Pagination start -->
  <div class="flex-c-m flex-w w-full p-t-45">
	<nav aria-label="Page navigation">
		<ul class="pagination">
			<% if (currentPage > 1) { %>
			<li class="page-item">
				<a class="page-link" href="?page=<%= currentPage - 1 %>&limit=<%= limit %>" aria-label="Previous">
					<span aria-hidden="true">&laquo;</span>
				</a>
			</li>
			<% } %>
			<% for (let i = 1; i <= totalPages; i++) { %>
			<li class="page-item <%= i === currentPage ? 'active' : '' %>">
				<a class="page-link" href="?page=<%= i %>&limit=<%= limit %>"><%= i %></a>
			</li>
			<% } %>
			<% if (currentPage < totalPages) { %>
			<li class="page-item">
				<a class="page-link" href="?page=<%= currentPage + 1 %>&limit=<%= limit %>" aria-label="Next">
					<span aria-hidden="true">&raquo;</span>
				</a>
			</li>
			<% } %>
		</ul>
	</nav>
</div>
<!-- Pagination end -->

			<!-- product end -->

			<!-- Load more -->
			<div class="flex-c-m flex-w w-full p-t-45">
				<a href="#" class="flex-c-m stext-101 cl5 size-103 bg2 bor1 hov-btn1 p-lr-15 trans-04">
					Load More
				</a>
			</div>
		</div>
	</section>

<script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
<script>
    async function addToWishlist(productId) {
        try {
            const response = await axios.post('/addToWishlist', { productId });

            if (response.status === 200) {
                Swal.fire({
                    icon: 'success',
                    title: response.data.message,
                    showConfirmButton: false,
                    timer: 1500
                });
            } else if (response.status === 401) {
                window.location.href = response.data.redirectUrl;
            } else {
                throw new Error(response.data.message);
            }
        } catch (error) {
            console.error('Error adding product to wishlist:', error);
            Swal.fire({
                icon: 'error',
                title: 'Failed to add product to wishlist',
                showConfirmButton: false,
                timer: 1500
            });
        }
    }
</script>

<script>
	function applyFilter(category, color, brand, sort) {
    const params = new URLSearchParams(window.location.search);
    const query = params.get('query'); // Preserve the original search query

    // Construct the new URL with filters
    const newUrl = new URL(window.location.href);
    if (query) {
        newUrl.searchParams.set('query', query);
    }
    if (category) {
        newUrl.searchParams.set('category', category);
    }
    if (color) {
        newUrl.searchParams.set('color', color);
    }
    if (brand) {
        newUrl.searchParams.set('brand', brand);
    }
    if (sort) {
        newUrl.searchParams.set('sort', sort);
    }

    // Navigate to the new URL
    window.location.href = newUrl.toString();
}

// Attach event listeners to filter links
document.querySelectorAll('.filter-link').forEach(link => {
    link.addEventListener('click', event => {
        event.preventDefault();
        const url = new URL(event.target.href);
        const category = url.searchParams.get('category');
        const color = url.searchParams.get('color');
        const brand = url.searchParams.get('brand');
        const sort = url.searchParams.get('sort');
        applyFilter(category, color, brand, sort);
    });
});
</script>

<script>
    // Save the scroll position before the page reloads
    window.addEventListener('beforeunload', () => {
        localStorage.setItem('scrollPosition', window.scrollY);
    });

    // Restore the scroll position after the page loads
    window.addEventListener('load', () => {
        const scrollPosition = localStorage.getItem('scrollPosition');
        if (scrollPosition) {
            window.scrollTo(0, parseInt(scrollPosition, 10));
            localStorage.removeItem('scrollPosition');
        }
    });

    function applyFilter(category, color, brand, sort) {
        const params = new URLSearchParams(window.location.search);
        const query = params.get('query'); // Preserve the original search query

        // Construct the new URL with filters
        const newUrl = new URL(window.location.href);
        if (query) {
            newUrl.searchParams.set('query', query);
        }
        if (category) {
            newUrl.searchParams.set('category', category);
        } else {
            newUrl.searchParams.delete('category');
        }
        if (color) {
            newUrl.searchParams.set('color', color);
        } else {
            newUrl.searchParams.delete('color');
        }
        if (brand) {
            newUrl.searchParams.set('brand', brand);
        } else {
            newUrl.searchParams.delete('brand');
        }
        if (sort) {
            newUrl.searchParams.set('sort', sort);
        } else {
            newUrl.searchParams.delete('sort');
        }

        // Navigate to the new URL
        window.location.href = newUrl.toString();
    }

    // Attach event listeners to filter links
    document.querySelectorAll('.filter-link').forEach(link => {
        link.addEventListener('click', event => {
            event.preventDefault();
            const url = new URL(event.target.href);
            const category = url.searchParams.get('category');
            const color = url.searchParams.get('color');
            const brand = url.searchParams.get('brand');
            const sort = url.searchParams.get('sort');
            applyFilter(category, color, brand, sort);
        });
    });
</script>

<script>
document.addEventListener('DOMContentLoaded', function() {
    const categoryLinks = document.querySelectorAll('.block1-txt[data-category]');
    const productSection = document.querySelector('.isotope-grid');
    const filterButtons = document.querySelectorAll('.filter-tope-group button[data-filter]');
    const scrollOffset = -100; // Adjust this value to set the desired offset

    categoryLinks.forEach(link => {
        link.addEventListener('click', function(e) {
            e.preventDefault();
            const categoryId = this.getAttribute('data-category');
            const categoryName = this.querySelector('.block1-name').textContent.trim().toLowerCase();

            // Get the position of the product section and apply the offset
            const productSectionPosition = productSection.getBoundingClientRect().top + window.pageYOffset + scrollOffset;

            // Scroll to the products section with offset
            window.scrollTo({ top: productSectionPosition, behavior: 'smooth' });

            // Apply the appropriate category filter
            filterButtons.forEach(button => {
                if (button.getAttribute('data-filter') === `.${categoryName}`) {
                    button.click();
                }
            });
        });
    });
});
</script>



<%- include('../layouts/userLayout/footerHome.ejs')%>