<%- include('../layouts/userLayout/headerCart.ejs')%>		


	<!-- breadcrumb -->
	<div class="container">
		<div class="bread-crumb flex-w p-l-25 p-r-15 p-t-30 p-lr-0-lg">
			<a href="index.html" class="stext-109 cl8 hov-cl1 trans-04">
				Home
				<i class="fa fa-angle-right m-l-9 m-r-10" aria-hidden="true"></i>
			</a>

			<span class="stext-109 cl4">
				Shoping Cart
			</span>
		</div>
	</div>
		

	<!-- Shoping Cart -->
		<div class="container ">
			<div class="row">
				<div class="col-lg-10 col-xl-7 m-lr-auto m-b-50">
					<div class="m-l-25 m-r--38 m-lr-0-xl">
						<div class="wrap-table-shopping-cart">
							<table class="table-shopping-cart">
								<tr class="table_head">
									<th class="column-1">Product</th>
									<th class="column-2">Name</th>
									<th class="column-3">Price</th>
									<th class="column-4">Quantity</th>
									<th class="column-5">Total</th>
									<th class="column-6">Actions</th>
								</tr>
	
								<% if (userCart &&  userCart.cartItems.length > 0) { %>
									<% userCart.cartItems.forEach(item => { %>
										<tr class="table_row">
											<td class="column-1">
												<div class="how-itemcart1">
													<img src="<%= item.productId.image[0] %>" alt="Product Image">
												</div>
											</td>
											<td class="column-2"><%= item.productId.productName %></td>
											<td class="column-3" id="price<%= item.productId._id  %>">₹ <%= item.productId.price %></td>
											<td class="column-4">
												<!-- <div class="wrap-num-product flex-w m-l-auto m-r-0">
													<div class="btn-num-product-down cl8 hov-btn3 trans-04 flex-c-m decrease-quantity " data-product-id="<%= item.productId._id %>">
														<i class="fs-16 zmdi zmdi-minus"></i>
													</div>

													<input class="mtext-104 cl3 txt-center num-product" id="quantity<%= item.productId._id %>" type="number" name="num-product" value="<%= item.quantity %>" min="1" max="5" readonly>
	
													<div class="btn-num-product-up cl8 hov-btn3 trans-04 flex-c-m increase-quantity"  data-product-id="<%= item.productId._id %>">
														<i class="fs-16 zmdi zmdi-plus"></i>
													</div>
												</div> -->
												<button class="decrease-quantity btn-light btn" data-product-id="<%= item.productId._id  %>" data-in-stock="<%= item.productId.inStock%>"> - </button>
												<span class="quantity" id="quantity<%= item.productId._id  %>"><%= item.quantity %></span>
												<button class="increase-quantity btn-light btn" data-product-id="<%= item.productId._id  %>" data-in-stock="<%= item.productId.inStock%>" > + </button>
											</td>
											<td class="column-5 cartTable">₹ <span class="priceShow" id="total<%= item.productId._id %>"><%= item.productId.price * item.quantity %></span></td>
											<td class="column-6">
												<button class="remove-item btn btn-danger" style="margin-right: 10px;" data-product-id="<%= item.productId._id %>" onclick="removeFromCart('<%= item.productId._id %>')">Remove</button>
											</td>
										</tr>
										
									<% }); %>
									<% } else { %>
										<!-- Handle case where cart is empty -->
										<tr>
											<td colspan="6" class="text-center">Your cart is empty</td>
										</tr>
									<% } %>
							</table>
						</div>

						<!-- <div class="flex-w flex-sb-m bor15 p-t-18 p-b-15 p-lr-40 p-lr-15-sm">
							<div class="flex-w flex-m m-r-20 m-tb-5">
								<input class="stext-104 cl2 plh4 size-117 bor13 p-lr-20 m-r-10 m-tb-5" type="text" name="coupon" placeholder="Coupon Code">
									
								<div class="flex-c-m stext-101 cl2 size-118 bg8 bor13 hov-btn3 p-lr-15 trans-04 pointer m-tb-5">
									Apply coupon
								</div>
							</div>

							<div class="flex-c-m stext-101 cl2 size-119 bg8 bor13 hov-btn3 p-lr-15 trans-04 pointer m-tb-10">
								Update Cart
							</div>
						</div> -->
					</div>
				</div>

				<div class="col-sm-10 col-lg-7 col-xl-5 m-lr-auto m-b-50">
					<div class="bor10 p-lr-40 p-t-30 p-b-40 m-l-63 m-r-40 m-lr-0-xl p-lr-15-sm">
						<h4 class="mtext-109 cl2 p-b-30">
							Cart Totals
						</h4>

						<div class="flex-w flex-t bor12 p-b-13">
							<div class="size-208">
								<span class="stext-110 cl2">
									Subtotal:
								</span>
							</div>
							<div class="size-209">
								<span id="subtotalAmount" class="mtext-110 cl2">₹ 0.00</span>
							</div>
						</div>

						<div class="flex-w flex-t bor12 p-t-15 p-b-30">
							<div class="size-208 w-full-ssm">
								<span class="stext-110 cl2">
									Shipping:
								</span>
							</div>
							<div class="size-209">
								<span id="shippingAmount" class="mtext-110 cl2">₹ 60.00</span>
							</div>
						</div>

						<div class="flex-w flex-t p-t-27 p-b-33">
							<div class="size-208">
								<span class="mtext-101 cl2">
									Total:
								</span>
							</div>

							<div class="size-209 p-t-1">
								<span id="totalAmount" class="mtext-110 cl2">₹ 0.00</span>
							</div>
						</div>

						<a href="/checkoutPage" class="flex-c-m stext-101 cl0 size-116 bg3 bor14 hov-btn3 p-lr-15 trans-04 pointer">
							Proceed to Checkout
						</a>
					</div>
				</div>
			</div>
		</div>


	<!-- <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script> -->

	
	<script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>

	
	<script>
		document.querySelectorAll('.decrease-quantity').forEach(button => {
			button.addEventListener('click', decreaseQuantity);
		});

		document.querySelectorAll('.increase-quantity').forEach(button => {
			button.addEventListener('click', increaseQuantity);
		});

		function decreaseQuantity(event) {
			const productId = event.target.dataset.productId;
			const quantity = document.getElementById("quantity"+productId)
			const total = document.getElementById("total"+productId)
			const price = document.getElementById("price"+productId).innerText
			const totalNowString = document.getElementById("total"+productId).innerText

			let to = totalNowString.match(/\d+/);
			let tot = parseInt(to[0], 10);

			let numbers = price.match(/\d+/);
			let number = parseInt(numbers[0], 10); 

			const currentQuantity = parseInt(event.target.nextElementSibling.innerText); 
			if (currentQuantity > 1) {
				updateQuantity(productId, -1);
				quantity.innerHTML= currentQuantity-1
				total.innerHTML= tot-number
			}else{
				Swal.fire({
					title: "Quantity cannot be less than 1",
					showClass: {
						popup: `
						animate__animated
						animate__fadeInUp
						animate__faster
						`
					},
					hideClass: {
						popup: `
						animate__animated
						animate__fadeOutDown
						animate__faster
						`
					}
				});
			}
		}

		function increaseQuantity(event) {
			const productId = event.target.dataset.productId;
			const inStock = parseInt(event.target.dataset.inStock);
			const quantity = document.getElementById("quantity"+productId)
			const total = document.getElementById("total"+productId)
			const price = document.getElementById("price"+productId).innerText
			const totalNowString = document.getElementById("total"+productId).innerText
			const currentQuantity = parseInt(event.target.previousElementSibling.innerText)

			let to = totalNowString.match(/\d+/);
			let tot = parseInt(to[0], 10);

			let numbers = price.match(/\d+/);
			let number = parseInt(numbers[0], 10);
			let maxQuantity = inStock;
			if(inStock > 6){
				maxQuantity = 5
			}

			if (currentQuantity < maxQuantity ) {
				updateQuantity(productId, 1);
				quantity.innerHTML= currentQuantity+1
				total.innerHTML= tot+number

			} else {
				Swal.fire({
					title: `Quantity cannot exceed ${maxQuantity}`,
					showClass: {
						popup: `
						animate__animated
						animate__fadeInUp
						animate__faster
						`
					},
					hideClass: {
						popup: `
						animate__animated
						animate__fadeOutDown
						animate__faster
						`
					}
				});
			}
		}

		function updateQuantity(productId, change, stock) {
			$.ajax({
                url: `/updateQuantity?productId=${productId}&change=${change}`,
                type: 'POST',
				
                success: function (response) {
					console.log("localjfalj");
                    // $('.cartTable').load(location.href + ' .cartTable')
                    console.log('Quantity updated successfully');
                },
                error: function (error) {
                    console.error('Error updating quantity:', error);
                    $('#quantityErrorMessage').text('Quantity error: ' + error.responseJSON.message);
                    $('#quantityErrorModal').modal('show');
                }
				
			});
		}

		function removeFromCart(productId) {
			$.ajax({
                url: `/removeFromCart?productId=${productId}`,
                type: 'GET',
				
                success: function (response) {
						Swal.fire({
							icon: 'success',
							title: 'Product removed from cart successfully',
							showConfirmButton: false,
							timer: 1500
				});

					console.log("localjfalj");
                    // $('.cartTable').load(location.href + ' .cartTable')
                    console.log('Quantity updated successfully');
					setTimeout(() => {
						window.location.reload()
					}, 1500);
					
                },
                error: function (error) {
                    console.error('Error updating quantity:', error);
                    $('#quantityErrorMessage').text('Quantity error: ' + error.responseJSON.message);
                    $('#quantityErrorModal').modal('show');
                }
				
			});
		}



		// Calculate and update subtotal
	function updateSubtotal() {
		let subtotal = 0;
		
		document.querySelectorAll('.table_row').forEach(row => {
			const price = parseFloat(row.querySelector('.column-3').innerText.replace('₹', ''));
			const quantity = parseInt(row.querySelector('.quantity').innerText);
			subtotal += price * quantity;
		});
		
		// Update subtotal display
		document.getElementById('subtotalAmount').innerText = '₹ ' + subtotal.toFixed(2);
		
		// Update total amount by adding shipping
		const shippingAmount = parseFloat(document.getElementById('shippingAmount').innerText.replace('₹', ''));
		const total = subtotal + shippingAmount;
		
		// Update total amount display
		document.getElementById('totalAmount').innerText = '₹ ' + total.toFixed(2);
	}

	// Call updateSubtotal function on window load and whenever quantity changes
	window.onload = updateSubtotal;
	document.querySelectorAll('.decrease-quantity, .increase-quantity').forEach(button => {
		button.addEventListener('click', function() {
			updateSubtotal();
		});
	});


	</script>
		
	
<%- include('../layouts/userLayout/footerCart.ejs')%>		

